
* {
  box-sizing: border-box;
  word-break: keep-all;
}
*::-webkit-scrollbar {
  display: none;
}
html, body {
	width:100%; height:100%;
}
body {
  font-family: 'ibm';
  font-size: 16px;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  user-select: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
  padding: 0;
}
.splash {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(290deg, rgba(64,83,194,1) 0%, rgba(86,124,211,1) 23%, rgba(86,144,211,1) 41%, rgba(91,170,194,1) 62%, rgba(91,194,194,1) 82%, rgba(118,212,176,1) 100%);
  z-index: 999;
}
.splash, .add {
  position: relative;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.add {
  position: relative;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
.add a {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #000;
}
.add a > div {
  position: relative;
  width: inherit; 
}
.add a div:not(:last-child) {
  height: 46%;
}
.add_sec3 {
  height: 8%;
  background: #1e1e1e;
}
.add_sec3 div {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.add_sec1 img:first-child,
.add_sec2 img:first-child {
  width: inherit; height: 100%;
}
.add_sec1 img:nth-child(2),
.add_sec1 img:last-child,
.add_sec2 img:last-child {
  position: absolute;
}
.add_sec1 img:nth-child(2) {
  top: 15px; left: 15px;
} 
.add_sec1 img:last-child,
.add_sec2 img:last-child {
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.splash img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}
.layer_main {
  position: relative;
  top: 0px; left: 0px; right: 0px;
  height: 100vh;
  background: #e9f1fa;
}
.bold {
  font-weight: bold;
  color: #000;
}
.top_inner {
  position: absolute;
  top: 0; left: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  padding: 15px 10px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 5px 7px rgb(52, 80, 194, 0.2);
}
.title,
.main_title {
  display: flex;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}
.main_title {
  gap: 3px;
  font-size: 20px;
}
.sub_title {
  color: rgb(138, 138, 138);
  font-size: 12px;
}
.monthly_title,
.extra_title,
.calc_title,
.popup_title {
  position: relative;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_desc {
  background: #fff;
}
.record_list {
  height: 82%;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  top: 130px;
  position: absolute;
  width: 100%;
}
.record_list.visible {
  height: 100%;
  top: 0;
}
.noType_record {
  text-align: center;
  font-size: 15px;
  margin: 25% auto;
  color: dimgray;
  width: fit-content;
}
.record_cons.visible {
  padding: 0;
  height: 100%;
}
.record_cons,
.record_list {
  display: flex;
}
.record_cons {
  flex-direction: column;
  padding: 5% 0 15%;
}
.record_box {
  position: relative;
  border-radius: 8px;
  padding: 15px;
  width: 90%;
  margin: 5px auto;
  color: #000;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 7px rgb(52, 80, 194, 0.2);
}
.record_box::before {
  content: '';
  position: absolute;
  top: 20%; left: 0;
  transform: translate(-50%, -50%);
  width: 4px; height: 50px;
  border-radius: 50px;
}
.record_box.bg_1 {
  border-left: 3px solid #5b0ff3;
}
.record_box.bg_2 {
  border-left: 3px solid #e95b75;
}
.record_box.bg_3 {
  border-left: 3px solid #f6b846;
}
.record_title {
  padding: 0 0 7px;
  height: fit-content;
}
.record_title > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.record_title > small {
  font-size: 14px;
  font-weight: lighter;
}
.record_desc {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  border-radius: 15px;
  position: relative;
}
.popup_desc .record_desc {
  box-shadow: 0 4px 12px 0 rgba(64, 83, 194, 0.2);
  padding: 10px 20px 50px 20px;
  margin: 10px 0;
}
.record_desc > div:not(.notice) {
  display: flex;
  justify-content: space-between;
}
.record_delete .space_bar {
  position: absolute;
  top: -10px; left: 50%;
  transform: translateX(-50%);
  width: 100%; height: 1px;
  margin: 0;
}
.record_desc > div:not(.border_bar) {
  margin: 5px 0;
}
.popup_desc .record_desc > div .info {
  color: #000;
}
.popup_desc .record_desc > div:not(.record_delete) {
  color: #1645c6;
}
.record_delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calc .space_bar {
  background: rgb(217, 217, 217);
}
.space_bar {
  height: 0.5px; width: 100%;
  background: #fff;
  margin: 10px 0;
}
.border_bar {
  border-bottom: 2px dotted #1645c620;
  margin: 10px 0;
}
.popup {
  position: absolute;
  top: 0; left: 100%;
  width: 100%; height: 100%;
  background: #fff;
  transition: .15s;
  z-index: 999;
  display: none;
}
.extra_desc,
.record_popup {
  overflow-y: scroll;
}
.popup_main {
  position: relative;
  margin: 3% auto 0 auto;
  width: 95%; height: 75%;
  padding: 10px;
  overflow-y: scroll;
}
.back_btn {
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  padding: 25px;
}
.extra {
  width: 20px; height: 20px;
  transform: rotate(-90deg);
}
.share_btns {
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 50%; bottom: 4%;
  transform: translateX(-50%);
  justify-content: space-between;
}
.share_btns.active {
 opacity: .5;
}
.share_btns div {
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 44px;
}
.share_btn {
  background: linear-gradient(290deg, rgba(64,83,194,1) 0%, rgba(86,124,211,1) 23%, rgba(86,144,211,1) 41%, rgba(91,170,194,1) 62%, rgba(91,194,194,1) 82%, rgba(118,212,176,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 81%;
  color:#fff;
  justify-content: space-between;
  position: relative;
  background: #5b0ff3;
}
.calc_desc {
  width: 90%; height: calc(100% - 25%);
  margin: 10px auto 20px;
}
.calc_tab {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  font-size: 14px;
  color: rgb(0,0,0,.5);
  border-bottom: 1px solid rgb(0,0,0,.5);
}
.calc_tab div {
  margin: 10px 0 0;
  padding: 0 0 3px;
  word-break: keep-all;
  padding: 0 0 10px;
}
.calc_tab div.active {
  color: #000;
  font-weight: normal;
  position: relative
}
.calc_tab div.active:before {
  display: block;
}
.calc_tab div:before {
  content: '';
  position: absolute;
  bottom: -1px; left: 50%;
  transform: translateX(-50%);
  width: 110%; height: 2px;
  background: #1645c6;
  display: none;
}
.sum {
  margin: 0 0 10px;
}
.steps {
  font-size: 14px;
}
.sum_info,
.sum > div:not(.notice),
.steps > div {
  margin: 15px 0 0;
  align-items: center;
  position: relative;
  width: 100%;
}
.steps > div {
  width: fit-content;
}
.sum_info,
.sum > div {
  width: 100%;
}
.sum > div:not(.sum_notice),
.steps > div {
  display: flex;
}
.sum_info {
  height: fit-content;
}
.sum_info div {
  color: #000;
}
.sum_info div {
  display: inline-block;
  font-weight: normal;
  margin: 0 0 0 5px;
}
.edit_box,
.steps input {
  border: 1px solid #fff;
  height: 30px;
}
.edit_box {
  font-size: 16px;
  width: 90%;
}
.record_edit {
  font-size: 18px;
  color: #1645c6;
}
.calc_title .edit_box {
  width: 60%;
  text-align: center;
  position: absolute;
}
.calc_title .edit_btn {
  position: absolute;
  right: 20px;
}
.edit_btn {
  width: 25px;
  background: #1645c6;
  border-radius: 50px;
  width: 16px;
  padding: 3px;
}
.edit_btn.active {
  opacity: .5;
}
.steps input {
  text-align: right;
  border: 1px solid #ddd;
  padding: 0 20px 0 0;
  width: 225px;
}
.steps input:not(.except) {
  margin: 0 0 0 22px;
}
.step_one input {
  margin: 0 0 0 18px;
}
.step_third input {
  margin: 0 0 0 6px;
}
.edit_box:focus,
select:focus,
.steps input:focus {
  outline: none;
  border-bottom: 1px solid #1645c6;
}
.mark {
  position: absolute;
  right: 5px; top: 50%;
  transform: translateY(-50%);
  color: dimgray;
}
.step_two input {
  width: 50px;
}
.step_two > div:last-child {
  position: relative;
}
.step_two > div:last-child input {
  width: 80px;
}
.step_hide input {
  margin: 0 0 0 19px;
}
.select_box {
  display: flex;
  margin: 0 0 0 22px;
}
.step_two .select_box div,
.step_four .select_box div {
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;;
  text-align: center;
  background: #f2f2f2;
  color: dimgray;
}
.step_two .select_box div {
  width: 45px;
}
.step_four .select_box div {
  width: 75px;
}
.step_four .select_box div:first-child {
  border-right: none;
}
.select_box div.active {
  background: #fff;
  color: #000;
}
.step_four .select_box div:first-child.active,
.step_two .select_box div:first-child.active {
  border-right: unset;
}
.step_two .select_box div:nth-child(2).active {
  border-left: unset;
}
.step_four .select_box div:nth-child(3),
.step_four .select_box div:nth-child(3).active {
  border-left: unset;
}
.red {
  color: red;
}
.sum > div:not(.sum_notice) {
  justify-content: space-between;
}
.sum > div div:not(.enforcement) {
  font-weight: bold;
}
.change.input.padding {
  padding: 0 30px 0 0;
}
select {
  border: 1px solid #ccc;
  height: 30px;
  padding: 0 10px;
  width: 225px;
  background: #fff;
  color: #000;
  border-radius: 0px;
  font-size: 14px;
}
.notice {
  font-size: 12px;
  color: dimgray;
  display: inline-block;
  margin: 10px;
  text-indent: -10px;
}
.calc_btns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 4%;
  z-index: 2;
  background: #fff;
  padding: 0 20px;
  justify-content: space-between;
}
.calc_btns div {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 12px;
}
.reset_btn {
  color: #000;
  background: #f4f4f4;
}
.reset_btn.center {
  width: 100%;
}
.calc_btn {
  border: 1px solid #1645c6;
  color: #000;
}
.calc_btn.active {
  background-repeat: no-repeat;
  background: #1645c6;
  color: #fff;
  border: unset;
}
.add_btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  position: absolute;
  width: 40px; height: 40px;
  bottom: 3%; right: 3%;
  transform: translateX(-50%);
  font-size: 14px;
  background:#5b0ff3;
  color: #fff;
  border-radius: 50px;
}
.no_record {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}
.no_comment {
  position: fixed;
  margin: 20% 0 0;
}
.no_comment .main{
  font-size: 16px;
  line-height: 17px;
  margin: 0 0 2px;
}
.no_comment .sub{
  font-size: 12px;
}
.calc_shorcut {
  position: fixed;
  border: 1px solid #1645c6;
  border-radius: 50px;
  background: #1645c6;
  color: #fff;
  width: 80%; height: 50px;
  line-height: 35px;
  margin: 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 3%;
}
.extra_tabs {
  position: relative;
  width: 100%; height: 10%;
  margin: auto;
  overflow-x: scroll;
  color: #112031;
}
.extra_tab_slider {
  position: absolute;
  display: flex;
  white-space: nowrap;
  width: fit-content;
  top: 50%;
  padding: 0 10px;
  transform: translateY(-50%);
}
.extra_tab {
  font-size: 11px;
  color: #777777;
  border: 1px solid #a8a8a8;
  padding: 7px 14px 7px 13px;
  border-radius: 50px;
  margin: 0 8px 0 0;
}
.extra_tab.active {
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #2eb7e4 0%, #1e44ce 100%);
}
.q {
  margin: 0 20px;
  padding: 15px 0;
  font-size: 14px;
  border-bottom: 1px solid rgb(0, 0, 0, .1);
}
.a,
.q_box {
  background-color: #fff;
}
.q_box .q {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.q_box.active .q {
  color: #1645c6;
  border-bottom: none;
}
.q_box .q img {
  width: 9px;
}
.border_top{
  border-top: 1px solid rgb(0, 0, 0, .1);
} 
.a {
  font-size: 11px;
  line-height: 18px;
  word-break: keep-all;
  color: #888888;
  transition: .35s;
  overflow: hidden;
  height: 0;
}
.a.active {
  overflow: unset;
}
.a > div {
  display: flex;
  padding: 5px 20px;
}
.q span,
.a div span {
  display: inline-block;
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 14px;
}
.extra_desc {
  height: calc(100% - 20%);
}
.record_desc small {
  display: block;
}
.edit_icon.active {
  opacity: .3;
}
.tab_pannel,
.option_box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tab_pannel {
  overflow: scroll;
  /* box-shadow: inset 5px 5px 10px 5px rgb(77, 71, 71); */
}
.option_box {
  padding: 15px 0 5px;
  font-size: 10px;
  width: 95%;
  margin: auto;
}
.option_box div[role='button'] {
 background: #fff;
 padding: 3px 12px;
 border-radius: 5px;
 color: dimgray;
 transition: .25s;
}
.sort_btn {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  width: fit-content;
}
.option_box div[role='button']:not(.cate_btn).active {
  color: #fff;
  opacity: 1;
  background: #5b0ff3;
  border: 1px solid #5b0ff3;
}
.cate_btn {
  border: 1px solid rgb(184, 184, 184);
  color:dimgray;
}
.option_box .cate_btn.active {
  border: 1px solid #5b0ff3;
  color: #000;
}
.sort_list {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
}
.sort_list > div img {
  margin: 0 3px 0 0;
}
.calc_box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 25px);
}
select:disabled {
  opacity: 1;
  color: #000;
}
.nationwide {
  display: none;
}
.punch {
  position: absolute;
  bottom: -7px; left: 0;
  width: 100%; height: 30px;
  display: flex;

  display: none;
}
.punch div {
  background: #fff;
  width: 12.5%; height: 30px;
  transform: rotate(45deg);
}
.sum_notice {
  margin: 15px 0 10px;
  text-align: center;
}
.sum_notice .red {
  display: inline-block;
}
.change_steps > div {
  margin: 15px 0 0;
  width: fit-content;
  position: relative;
}
.oss_desc {
  overflow-y: scroll;
}
.menu_desc div {
  display: flex;
  justify-content: space-between;
}
.rate_table {
  flex-direction: column;
}
.rate_table div, .rate_table div div {
  font-weight: normal;
}
.rate_table div div.active {
  font-weight: bold;
}
.rate_title small {
  display: inline;
  font-weight: normal;
}
.monthly_box,
.rate_box {
  width: 100%;
  margin: 0 0 15px;
}
.monthly_cate,
.rate_cate {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}
.monthly_cate > div,
.rate_cate > div {
  flex: 1;
}
.rate_title,
.rate_chart,
.monthly_chart {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.rate_title {
  padding: 0 0 15px;
  width: 100%;
  justify-content: center;
}
.rate_title.active img {
  transform: rotate(-90deg);
}
.rate_title img {
  width: 7px;
  transform: rotate(90deg);
  margin: 0 0 0 15px;
  transition: .35s;
}
.monthly_chart,
.rate_chart {
  background: #f2f2f2;
  color: dimgray;
}
.rate_chart {
  padding: 10px;
}
.monthly_list {
  overflow-y: scroll;
  position: absolute;
  width: 100%; height: calc(100% - 14%);
}
.monthly_list > div > div:first-child,
.monthly_chart > div:first-child {
  width: 20%;
}
.monthly_list > div > div,
.monthly_chart > div {
  width: 40%;
  padding: 10px;
}
.monthly_list > div > div:not(:first-child),
.monthly_chart > div:not(:first-child) {
  border-left: 1px solid #ddd;
}
.rate_chart > div {
  width: 30%;
}
.monthly_cate_one, 
.rate_cate_two, .rate_cate_third {
  text-align: center;
}
.monthly_list > div,
.rate_list > div {
  display: flex;
  align-items: center;
}
.rate_list > div {
  padding: 8px 0;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-around;
}
.rate_list > div.active {
  border: 1px solid #1645c6;
}
.rate_list > div div:first-child,
.rate_list > div div:nth-child(2) {
  border-right: 1px solid #f2f2f2;
}
.monthly_list > div div {
  border-bottom: 1px solid #ddd;
}
.monthly_list > div div,
.rate_list > div div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate_list > div div {
  width: 30%;
}
.month_btn {
  float: right;
  margin: 0 0 20px;
}
.month_btn img {
  width: 5px;
  margin: 0 0 0 5px;
}
.month_loan {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.month_loan > div {
  display: flex;
}
.enforcement {
  margin: 0 0 15px;
}
.momthly_notice {
  font-weight: normal;
}
.monthly_title > div {
  text-align: center;
}
.step_one.active {
  margin: 15px 0 30px;
}
.step_one.active .as_loan {
  display: block;
}
.as_loan {
  position: absolute;
  right: 0; bottom: -20px;
  font-size: 10px;
  color: dimgray;
  display: none;
}
.oss_title {
  padding: 10px;
  color: #fff;
  margin: 3px;
  border: 1px solid #1645c6;
  color: #1645c6;
  border-radius: 10px;
}
.oss_desc {
  overflow-y: scroll;
  height: calc(100% - 8%);
}
.oss_ifos {
  color: #000;
}
.oss_info_box {
  padding: 10px;
}
.oss_notice.notice {
  display: block;
}
#domToImage {
  width: 100%;
}
.delet_btn {
  filter: brightness(0.5);
}
.delete_btn {
  border: 1px solid darkgray;
  z-index: 2;
}
.popup_date {
  font-size: 10px;
  margin: 0 9px 0;
}
.popup_recordTitle {
  padding: 0 8px 0;
}
.opacity, .list_delete {
  font-weight: lighter;
}
.font-size, .list_delete {
  font-size: 13px;
}
.dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 15%; height: 50%;
}
@keyframes show {
  0%, 100% {margin: 0;}
  70% {margin: 0 0 10px;}
}
.dot {
  width: 6px; height: 6px;
  background: #fff;
  border-radius: 50%;
  display: none;
}
.dot.active {
  display: block;
  animation: show .6s ease-in-out infinite;
}
.dot:nth-child(2) {
  animation-delay: .2s;
}
.dot:last-child {
  animation-delay: .5s;
}
.toast {
  position: absolute;
  bottom: 3%; left: 50%;
  transform: translatex(-50%);
  padding: 7px 13px;
  color: #fff;
  background: rgb(0, 0, 0, 0.7);
  font-size: 14px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
  z-index: 999;
}
/* for slide */
.slide {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 39%;
  /* height: 65%; */
  user-select: none;
  border-radius: 15px;
  margin: 45% 0 0;
}
.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%; height: fit-content;
  flex-shrink: 0;
  transition: left .15s;
  background: #fff;
  border-radius: 20px;
  margin: 0 20px 0 0;
  box-shadow: 0px 5px 7px rgb(52, 80, 194, 0.2);
  overflow: hidden;
}
.slide_item img {
  width: inherit;
}
.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
  border: none;
  line-height: 32px;

  display: none;
}
.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  left: 50%; bottom: 15%;
  transform: translateX(-50%);
  z-index: 2;
  width: fit-content;  height: fit-content;
}
.slide_pagination>li {
  color: #848484;
  font-size: 25px;
}
.slide_pagination>li.active {
  color: #232323;
}
.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left .15s;
}
